.home-content{
	height: 90%;
	overflow: scroll;
}
.home-content .home-top{
	position: relative;
	width: 100%;
	background:url(../img/home-back3.png) no-repeat;
	background-size: cover;
}
.home-top .talk-div{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	right: 15px;
}
.home-top .talk-div img{
	margin-top: 5px;
	margin-left: 4px;
	width: 22px;
	height: 20px;
	
}
.home-content .home-top-usermsg{
	width:20%;
	position: relative;
	z-index: 10;
	margin: 0 auto;
	padding-top: 35px;
	padding-bottom: 10px;
}
.home-top-usermsg .usermsg-img{
	overflow:hidden;
	width:100%;
}
.home-top-usermsg .usermsg-img img{
	display:inline-block;
	width: 100%;
	border-radius:50%;
	border:2px solid #fff;
}
.home-top-usermsg a{
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 13px;
}
.order-detail .detail-item{
	width: 50%;
	float: left;
	text-align: center;
}
.order-detail>.detail-item:first-child{
	/*background: linear-gradient(to bottom,#ccc,#ccc) no-repeat right center / 1px 30px;*/
}

/*home-orderDetail.php css*/
.order-details{
	background-color: #fff;
	margin-bottom: 10px;
}
.order-place,.order-msg,.order-time,.order-price,.order-deal{
	width: 100%;
	height: 36px;
	padding: 3px 12px;
	line-height: 30px;
}
.order-place .place-user{
	font-size: 16px;
	float: left;
	
}
.order-place .place-contact{
	float: right;
	padding-left: 22px;
}
.order-msg .order-number{
	float: left;
}
.order-msg .order-state{
	float: right;
	color: #f00;
}
.order-commodityList{
	height: 100px;
	width: 100%;
	padding: 10px;
	background-color: #efeff4;
}
.order-commodityList .commodityList-left{
	width: 80px;
	float: left;
}
.order-commodityList .commodityList-left img{
	width: 80px;
	height: 80px;
}
.order-commodityList .commodityList-right{
	float: right;
	width: 70%;
}
.commodityList-right .name-unitPrice,.commodityList-right .note-count{
	width: 100%;
}
/*.commodityList-right .note-count{*/
	/*margin-top: 30px;*/
/*}*/
.note-count .order-note,.note-count .order-count{
	width: 100%;
	word-break: break-all;
}
.name-unitPrice{
	height: 21px;
}
.name-unitPrice .commodity-name{
	width: 70%;
	float: left;
	word-break: break-all;
	color: #000;
}
.note-count .order-note{
	font-size: 12px;
}
.name-unitPrice .commodity-unitPrice{
	width: 30%;
	float: right;
}
.order-price p{
	text-align: right;
	color: #000;
}
.order-price .total-price{
	font-size: 18px;
}
.order-deal{
	height: 41px;
	padding-bottom: 8px;
}
.order-deal button{
	border-radius: 50%;
	float: right;
}

/*我的账户*/
.myAccount-profit{
	width: 100%;
	height: 80px;
	background-color: #fff;
	margin-top: 20px;
	line-height: 80px;
}
.myAccount-profit .profit-left{
	margin-left: 10px;
	float: left;

}
.myAccount-profit .profit-right{
	float: right;
	margin-right: 20px;
}
#right-money{
	font-size: 20px;
}
.func-btn{
	width: 100%;
	margin-top: 10px;
}
.func-btn .deposit-record{
	border: 1px solid #ccc;
	float: left;
	margin-left: 10px;
	width: 40%;
	padding: 6px 12px;
	text-align: center;
	background-color: #4380a9;
	border-radius: 3px;
	color: #fff;
}
.func-btn #btn-deposit{
	width: 40%;
	/*padding: 10px 50px;*/
	float: right;
	margin-right: 10px;
	font-size: 16px;
}

.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
	/*-webkit-backface-visibility: hidden;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;*/
	
	margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}
.mui-pull-top-wrapper .mui-icon.mui-reverse {
	/*-webkit-transform: rotate(180deg) translateZ(0);*/
}
.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}
.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.mui-pull-top-canvas canvas {
	width: 40px;
}
.mui-slider-indicator.mui-segmented-control {
	background-color: #efeff4;
}

/*店铺设置*/
.set-info{
	text-align: center;
	line-height: 2;
}
.set-info .set-name{
	float: left;
	font-size: 1.1em;
	color: #000;
	line-height: 2;
}
.set-info input{
	width: 70%;
	float:right;
	border: 0;
	outline: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
.set-info .business{
	float: left;
	font-size: 1.1em;
	color: #000;
	line-height: 2;
}
.set-info .business-txt{
	float: right;
	margin-right: 20px;
	margin-top: 4px;
	font-size: 1em;
}
.set-info .sure-select{
	float: right;
	width: 70%;
}
.set-info .sure-select input{
	width: 20px;
}
.mui-bar .newset-submit{
	float: right;
	width: 2em;
	font-size: 14px;
	color: #fff;
	height: 45px;
	line-height: 45px;
}

/*店铺评价界面css*/
#detail-content{
	height: 100%;
	width: 100%;
}
#scroll4 .eval-grade-left{
	text-align: center;
	float: left;
	width: 50%;
	border-right: 1px solid #ccc;
}
#scroll4 .eval-grade-right{
	text-align: center;
	float: right;
	width: 50%;
}
.eval-grade-left .grade-left-grade,.eval-grade-right .grade-right-grade{
	font-size: 25px;
	color: #ffd161;
	width: 100%;
}
.eval-grade-left >.grade-left,.eval-grade-right >.grade-right{
	color: #585757;
	font-size: 12px;
}

.star-active{
	width: 16px;
	height: 16px;
	line-height: 16px;
	background: url(../img/full-star.png) no-repeat center center / 12px 12px;
	float: left;
}
.star-unactive{
	width: 16px;
	height: 16px;
	line-height: 16px;
	background: url(../img/zero-star.png) no-repeat center center / 12px 12px;
	float: left;
}


.customer-eval-item .eval-item-top{
	width: 100%;
}
.eval-item-top .item-top-left{
	width: 15%;
	height: 100%;
	float: left;
}
.eval-item-top .item-top-left img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.eval-item-top .item-top-right{
	float: left;
	width: 83%;
	margin-left: 2%;
}
.item-top-right .top-right-top,.item-top-right .top-right-bottom{
	width: 100%;
	font-size: 12px;
	color: #ccc;
}
.top-right-top .customer-msg{
	display: inline-block;
}
.top-right-top > .customer-msg:first-child{
	font-size: 14px;
	color: #000;
	float: left;
}
.top-right-top > .customer-msg:last-child{
	float: right;
}


.customer-eval-item .eval-item-content{
	width: 82%;
	float: right;
}

.eval-item-content .img-group{
	width: 100%;
}
.eval-item-content .img-group li{
	height: 100%;
	width: 30%;
	float: left;
	padding: 1% 1%;
}
.eval-item-content .img-group li:first-child{
	padding-left: 0;
}
.eval-item-content .img-group li img{
	width:100%;
	height: 100%;
}
.eval-item-content .evaluate-word{
	color: #000;
	font-size: 14px;
}
.eval-item-content .label-evaluation{
	font-size: 12px;
	display: block;
	padding-left: 25px;
	word-wrap: break-word;
}

.eval-item-content .label-evaluation{
	color: #8a8787;
	background: url(../img/label.png) no-repeat left top / 14px 14px;
	background-position:1px 3px;
}
.eval-item-content .seller-reply{
	padding: 5px;
	background-color: #e8e6e6;
}
.eval-item-content .seller-reply p{
	font-size: 12px;
	color: #8a8787;
}
.eval-item-content .seller-reply p>span:last-child{
	word-wrap: break-word;
}
.btn-group{
	width: 100%;
	padding: 5px 0 0;
	float: right;
	line-height: 45px;
}
.btn-group .btn-reply{
	float: right;
	border: none;
	background-color: #83E0D6;
}