.mui-table-view{
	margin-bottom: 10px;
}
.ishide{
	display: none;
}
.way-sub{
	float: left;
	color: #000;
}
.way-txt{
	float: right;
	color: #000;
	margin-right: 20px;
}
.simg{
	display: inline-block;
	width: 21px;
	height: 19px;
	position: relative;
	top: 3px;
	background: url(../image/Zsimg.png);
}
.stxt{
	display: inline-block;
	font-size: 14px;
	color: #BCBCBC;
	margin-left: 10px;
}
.smenu p{
	color: #000;
	float: left;
	width: 50%;
	text-align: right;
}
.scount span{
	text-align: center;
	width: 20px;
	float: right;
	font-size: 20px;
}
.scount .room-count{
	width: 40px;
}
.sact-txt{
	color: #000;
	float: left;
}
.sact-con{
	color: #000;
	float: right;
	margin-right: 6px;
}
.ssum p{
	float: left;
	width: 50%;
}
.ssum p span{
	padding-left: 10px;
}
.sfact{
	font-size: 18px;
	text-align: right;
	color: #000;
}
.smon{
	color: #f00;
}
.meal-num{
	float: left;
}
.meal-txt{
	float: right;
	margin-right: 20px;
}
.sub-pay{
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #ccc;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 12;
	
}
.sub-fav{
	color: #000;
	float: left;
	font-size: 14px;
	margin-left: 15px;
}
.wait-sub{
	color: #000;
	float:left;
	margin-left:25%;
}
.wait-sub span{
	color: #f00;
	font-size: 18px;
	margin-left: 6px;
}
.sub-btn{
	color: #000;
	float: right;
	width:80px;
	height: 50px;
	background-color: #FED060;
}
.sub-table{
	width: 100%;
	height:100px;
	background-color: #fff;
}
.sub-view{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ccc;
	text-align: left;
	line-height: 50px;
	font-size: 14px;
	margin-left: 10px;
	color: #000;
}
.pay-txt{
	color: #000;
	float: left;
}
.sub-choose{
	float: right;
	margin-right: 30px;
}
.sub-choose img{
	width: 20px;
	height: 20px;
}
.sub-cancel{
	margin-top: 10px;
}
.sub-cancel,.sub-view-cell{
	width: 100%;
	height: 50px;
	background-color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
}
.dinner-table{
	width:100%;
	/*height: 1200px;*/
	background-color: #fff;
}
.count-txt{
	height: 40px;
	line-height:40px;
	text-align: center;
	color: #000;
	font-size: 18px;
}
.count-cancel{
	height: 50px;
	width: 100%;
	background-color: #fff;
	line-height: 50px;
	text-align: center;
	color: #000;
	font-size: 18px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #ccc;
	z-index: 16;
}
/*添加备注*/
.remark{
	width: 95%;
	margin: 0 auto;
	margin-top: 15px; 
	font-size: 14px; 
	position: relative;
	height: 100px;
}
.remark-text{
	font-size: 14px;
	border-radius: 10px;
	background-color: #F9F9FD;
}
.word-count{
	position: absolute;
	right: 20px;
	bottom:22px;
}
.remark-usually{
	width: 95%;
	margin: 0 auto;
}
.usual-list{
	width: 100%;
	
}
.usual-item{
	float: left;
	width: 30%;
	height: 25px;
	text-align: center;
	line-height: 25px;
	border: 1px solid #ccc;
	border-radius: 25px;
	margin-left: 3%;
	margin-top: 24px;
	font-size: 14px;
	background-color:#F9F9FD;
}
/*头部  完成功能*/
.remark-add{
	font-size: 14px;
	color: #000;
	float: left;
	padding-left:6px;
	padding-top: 12px;
}
.remark-finish{
	font-size: 14px;
	color: #000;
	float: right;
	padding-top: 12px;
	padding-right: 20px;
}
